<div>
   <p><i>Foreman Requests:</i> <b>{{foremenRequesting.currentRequests}}</b></p>
   <p><i>As Of: </i> <b>{{foremenRequesting.cutoffDate}}</b></p>
   <p><i>Total Foremen:</i> <b>{{foremenRequesting.totalForemen}}</b></p>
</div>
