<div>
   <p><i>Foreman Uploading:</i> <b>{{foremenUploading.currentUploads}}</b></p>
   <p><i>As Of: </i> <b>{{foremenUploading.cutoffDate}}</b></p>
   <p><i>Total Foremen:</i> <b>{{foremenUploading.totalForemen}}</b></p>
</div>
