<div style='margin-top: 30px;'>
  <div class='row'>
    <div class='col-md-2' align='center'>

    </div>
    <div class='col-md-8'>
      <div align='center' style='color: #222326;'>
        <h3>Office Dashboard</h3>
      </div>
      <div align='left' style='margin-top: 50px;' class='dashboard-headers'>
        <h4>Weekly Submissions</h4>
        {{number-foreman-uploading model=model}}
      </div>
      <div align='left' style='margin-top: 50px;' class='dashboard-headers'>
        <h4>Manpower Requests</h4>
        {{number-foreman-requesting model=model}}
      </div>
    </div>
    <div class='col-md-2' align='center'>

    </div>
  </div>
</div>
