<div align='center'>
  <span style='display: inline;'>
    <!-- {{#bs-dropdown as |dd|}}
      {{#dd.toggle}}Manage Profiles{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{/ddm.item}}
          {{ddm.divider}}
          {{#ddm.item}}{{/ddm.item}}
        {{/dd.menu}}
    {{/bs-dropdown}} -->

    {{#link-to 'dashboard.admin.home' class='dashboard-links'}}Home{{/link-to}}
    {{#link-to 'dashboard.admin.create-jobsite' class='dashboard-links'}}Create Jobsite{{/link-to}}
    {{#link-to 'dashboard.admin.edit-jobsite' class='dashboard-links'}}Edit Jobsite{{/link-to}}
    {{#link-to 'dashboard.admin.create-profile' class='dashboard-links'}}Create Profile{{/link-to}}
    {{#link-to 'dashboard.admin.edit-profile' class='dashboard-links'}}Edit Profile{{/link-to}}
  </span>
</div>
<div>
  {{outlet}}
</div>
