<div align='center'>
      {{#link-to 'dashboard.foreman.home' class='dashboard-links'}}
          Home
      {{/link-to}}
      {{#link-to 'dashboard.foreman.manpower' class='dashboard-links'}}
          Manpower
      {{/link-to}}
      {{#link-to 'dashboard.foreman.weekly-submissions' class='dashboard-links'}}
          Weekly Submissions
      {{/link-to}}
</div>
<div>
  {{outlet}}
</div>
