<div align='center'>
  {{#link-to 'dashboard.office.manpower' class='dashboard-links'}}
        Manpower
  {{/link-to}}
  {{#link-to 'dashboard.office.weeklysubmissions' class='dashboard-links'}}
        Weekly Submissions
  {{/link-to}}

</div>
<div>
  {{outlet}}
</div>
