<div style='margin-top: 30px;'>
  <div class='row'>
    <div class='col-md-2' align='center'>

    </div>
    <div class='col-md-8'>
      <div align='center' style='color: #222326;'>
        <h3>Useful Links</h3>
      </div>
      <div align='left' style='margin-top: 50px;' class='dashboard-headers'>
        <a href="https://firebasestorage.googleapis.com/v0/b/tower-electric-ops.appspot.com/o/Useful-Links%2FDaily-Injury-Sign-Off.xlsx?alt=media&token=8e39e287-6b39-4855-989f-773625d76dc0">Daily Injury Sign Off Sheet</a>

      </div>
    </div>
    <div class='col-md-2' align='center'>

    </div>
  </div>
</div>
