<div class='container-fluid news-bar news-bar-non'></div>
<div align='center'>
  <div class='page-header'>
      <h3>Welcome to Tower Electric Operations</h3>
  </div>
  <div>
    {{#link-to 'sign-up' class='index-link'}}
        Sign Up
    {{/link-to}}
    {{#link-to 'sign-in' class='index-link'}}
        Sign In
    {{/link-to}}
  </div>
</div>
